@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-header {
    background-image: url(images/Header-Background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    padding-bottom: 30px;
}

.nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    color: white;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.main-nav li {
    padding: 0 5%;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white;
}

.band-name-large {
    font-size: 9em;
}

/* .content-section {
    margin-bottom: 35px;
} */

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    line-height: 1.5;  
}

.section-header {
    font-family: "Metal Mania";
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    width: 30%;
    float: left;
    border-radius: 50%;
    margin: 1em 1em 1em 0;
}

.main-footer {
    background-color: #56CCF2;
    color: white;
    padding: .25em 0;
    margin-top: 40px;
}

.main-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-footer-container img {
    width: 30px;
}

@media (max-width: 700px) {

    .about-band-image {
        width: 60%;
        margin: 0 0 20px;
        float: none;
    }

    .container {
        text-align: center;
    }

    /* Footer */

    .main-footer{
        padding: 1em 0;
    }

    .main-footer-container h3{
        display: none;
    }

    .main-footer-container{
        justify-content: center;
    }

    .main-footer-container li {
        padding: 0 3%;
    }
}

@media (max-width: 500px) {

    .band-name-large{
        font-size: 25vw;
    }
}
